<input #username placeholder="username" type="text" />
<input #password placeholder="password" type="text" />
<button (click)="login({ username: username.value, password: password.value })">Login</button>
